<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

     <connectionStrings>

          <add name="connstring" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\fru\source\repos\SkateOrDie\BRAINS.accdb"/>
          <add name="CIS375Project.Properties.Settings.BRAINSConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\fru\source\repos\Getting-my-Goat-\BRAINS.accdb" providerName="System.Data.OleDb"/>

         
     </connectionStrings>
</configuration>
